<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table m-0">
    <thead>
    <tr>
        <th>PropertyName |</th>
        <th>AreaSq |</th>
        <th>Room |</th>
        <th>Location |</th>
        <th>City |</th>
        <th>Owner Name |</th>
        <th>E-mail |</th>
        <th>Contact |</th>
        <th>OwnerAddress |</th>
        <th>image |</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="product:${productList}">
        <td th:text="${product.productname}"|></td>
        <td th:text="${product.product_type}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <img th:src="'data:image/png;base64,'+${product.imageBase64}" width="80" height="100"/>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>